<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <system.webServer>
    <rewrite>
      <!--This directive was not converted because it is not supported by IIS: RewriteBase /.-->
      <rules>
        <rule name="Rule 1" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php?{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Rule 2" stopProcessing="true">
          <match url="^(\.git|config|content|content-sample|lib|vendor)(/.*)?$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?{R:0}" appendQueryString="true" />
        </rule>
        <rule name="Ruke 3" stopProcessing="true">
          <match url="^(CHANGELOG\.md|composer\.(json|lock))" ignoreCase="false" />
          <action type="Rewrite" url="index.php?404" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
</configuration>